<form method="post" id="frm_password">
  <label for="password-group">Troca de Senha</label>
  <div class="form-row" id="password-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="password">Senha Atual: </label>
      </div>
      <input type="password" class="form-control" name="password" id="password" maxlength="12">
    </div>
  </div>
  <div class="form-row">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="new-password">Nova Senha: </label>
      </div>
      <input type="password" class="form-control" name="new-password" id="new-password" maxlength="12">
    </div>
  </div>
  <div class="form-row">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="confirm-password">Confirmar Senha: </label>
      </div>
      <input type="password" class="form-control" name="confirmar-password" id="confirmar-password" maxlength="12">
    </div>
  </div>
  <div class="form-row" style="padding: 20px">
    <div class="col-md-12" style="padding-left: 25%">
      <button type="submit" name="save_password" id="save_profile" class="btn btn-primary">Salvar</button>
      <button type="button" name="cancel_password" id="cancel_profile" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</form>
