<script>
$("#cancel_password").click(function() {
  $("#dialog").dialog("close");
});

$("#frm_password").submit(function(event){
  event.preventDefault();
    $.ajax({
      url: '../../../change_password/',
      data: $("#frm_password").serialize(),
      method: 'POST'
    }).done(function(data){
      if(data.type == "alert-danger"){
        $("#dialog").prepend("<div id='alert-password' class='alert alert-dismissible fade show " + data.type +
        "' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>")
        for(var i = 0; i <= data.message.new_password2.length;i++){
          $("#alert-password").append(data.message.new_password2[i]);  
          }
      } else {
        $("#dialog").dialog("close");
        set_message(data.message,data.type)
      }
    });
});
</script>
<form method="post" id="frm_password">
  {% csrf_token %}
  {{form}}
  <div class="form-row" style="padding: 20px">
    <div class="col-md-12" style="padding-left: 25%">
      <button type="submit" name="save_password" id="save_profile" class="btn btn-primary">Salvar</button>
      <button type="button" name="cancel_password" id="cancel_profile" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</form>
