<script>
  $("#estado").change(function() {
    $.ajax({
      url: '../../../ajax/get_cidade',
      dataType: 'json',
      data: {
        'estado': $("#estado").val()
      }
    }).done(function(data) {
      $("#cidade").empty();
      $(data.cities).each(function() {
        $("#cidade").append("<option value='" + $(this)[0].id + "'>" +
          $(this)[0].nome +
          "</option>");
      });
    });
  });

  $("#cancel_profile").click(function() {
    $("#dialog").dialog("close");
  });

  $("#frm_profile").submit(function(event){
    event.preventDefault();
      $.ajax({
        url: '../../../configuracoes/',
        data: $("#frm_profile").serialize(),
        method: 'POST'
      }).done(function(data){
        $("#userDropdown").empty().append('<i class="fa fa-user"></i> ' + $("#first_name").val() + ' ' + $("#last_name").val());
        $("#dialog").dialog("close");
        set_message(data.message,data.type)
      });
  });

  $("#nascimento").val(moment("{{user.nascimento}}").format("L"));
</script>
<form method="post" id="frm_profile">
  {% csrf_token %}
  <input type="hidden" name="sexo" value="{{user.sexo}}">
  <input type="hidden" name="nascimento" value="{{user.nascimento}}" id="nascimento">
  <input type="hidden" name="password" value="{{user.password}}">
  <input type="hidden" name="email" value="{{user.email}}">
  <div class="form-row align-items-center">
    <div class="col-md-6">
      <label for="first_name">Nome:</label>
      <input type="text" class="form-control" name="first_name" value="{{user.first_name}}" id="first_name" maxlength="30">
    </div>
    <div class="col-md-6">
      <label for="last_name">Sobrenome:</label>
      <input type="text" class="form-control" name="last_name" value="{{user.last_name}}" id="last_name" maxlength="30">
    </div>
  </div>
  <div class="form-row align-items-center">
    <div class="col-md-6">
      <label for="estado">Estado:</label>
      <select class="form-control" name="estado" id="estado">
        {% for sigla,nome in estados %}
        {% if sigla == user.estado %}
        <option value="{{sigla}}" selected>{{nome}}</option>
        {% else %}
        <option value="{{sigla}}">{{nome}}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="col-md-6">
      <label for="cidade">Cidade: </label>
      <select class="form-control" name="cidade" id="cidade">
        {% for id,cidade in cidades %}
        {% if id == user.cidade %}
        <option value="{{id}}" selected>{{cidade}}</option>
        {% else %}
        <option value="{{id}}">{{cidade}}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    </div>
    <div class="form-row" style="padding: 20px">
      <div class="col-md-12" style="padding-left: 25%">
        <button type="submit" name="save_profile" id="save_profile" class="btn btn-primary">Salvar</button>
        <button type="button" name="cancel_profile" id="cancel_profile" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
</form>
