{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/fullcalendar.css" %}">
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" />
  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/popper.min.js" %}"></script>
  <script src="{% static "js/lib/moment.min.js" %}"></script>
  <script src="{% static "js/lib/jquery-ui.min.js" %}"></script>
  <script src="{% static "js/fullcalendar.js" %}"></script>
  <script src="{% static "js/locale/pt-br.js" %}"></script>
  <script src="{% static "js/autoresize.js" %}"></script>
  <script src="{% static "js/style.js" %}"></script>
  <script src="{% static "js/money.js" %}"></script>
  <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
  <title>SINTEAGRO</title>
  <script type="text/javascript"> 
    
    function set_message(message,type){
      $("#div_info")
      .empty()
      .append("<div class='alert alert-dismissible fade show " + type +
      "' role='alert'><p class='text-center'>"+ message +
      "</p><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>").show().animate({
          top: "10%"
      });
      }

    $(document).ready(function() {
        $(".dinheiro").maskMoney({prefix:'R$ ', allowNegative: true, thousands:'.', decimal:',', affixesStay: false});
        $("#div_info").click(function(){
            $(this).animate({
            top: "-15%"
            });
        });

      $("#config").on("click", function() {
        $.ajax({
          url: "{% url 'configuracoes' %}"
        }).done(function(data) {
          $("#dialog").empty().append(data).dialog({
            minHeight: 200,
            minWidth: 550,
            resizable: false
          });
        });
      });

      $("#change_pass").on("click", function() {
        $.ajax({
          url: "{% url 'change_password' %}"
        }).done(function(data) {
          $("#dialog").empty().append(data).dialog({
            minHeight: 200,
            minWidth: 550,
            resizable: false
          });
        });
      });
        
    $(".new_auto_account").click(function(){
        $.ajax({
          url: "{% url 'set_auto_conta' %}"
        }).done(function(data){
          $("#dialog").empty().append(data).dialog({
            minWidth: 650,
            minHeight: 400,
            buttons: {
                   "Enviar": {
                        text: "Enviar Arquivo",
                        id: "send",
                        click: function(){}
                   },
                   "Cancelar": function(){
                       $(this).dialog("close");
                   }
               }
          });
        });
      });

    })
  </script>
</head>

<body>
    <div id="div_info" role="alert"></div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">SINTEAGRO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="workerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users"></i> Funcionários</a>
          <div class="dropdown-menu" aria-labelledby="workerDropdown">
            <a class="dropdown-item" href="#" id="new_worker"><i class="fa fa-user-plus"></i> Cadastrar Novo Funcionário</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-money-bill"></i> Contas Bancárias</a>
          <div class="dropdown-menu" aria-labelledby="accountDropdown">
            <a class="dropdown-item new_auto_account" href="#"><i class="far fa-plus-square"></i> Cadastrar Conta Automaticamente (ofx)</a>
            {% for b in info %}
              <a class="dropdown-item" href="#"><i class="fas fa-money-check-alt"></i> {{b}}</a>
            {% endfor %}
          </div>
        </li>
      </ul>
      <ul class="form-inline my-2 my-lg-0 navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i> {{user.get_full_name.title}}
          </a>
          <div class="dropdown-menu" aria-labelledby="userDropdown">
            <a class="dropdown-item" id="config" href="#"><i class="fas fa-cog"></i> Configurações</a>
            <a class="dropdown-item" id="change_pass" href="#"><i class="fa fa-lock"></i> Alterar Senha</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Sair</a>
        </li>
      </ul>
    </div>
    <div name="dialog" id="dialog" role="dialog" style="display: none">
    </div>
  </nav>
  <main role="main" style="padding-top: 54px">
    {% block content %}{% endblock %}
    {% block extra %}{% endblock %}
  </main>
</body>

</html>
