{% extends "sinteagros/fazenda_menu.html" %}

{% block extra %}
<div class="row">
  <div class="col-md-12">
    {% if info == "sucesso" %}
    <div class="alert alert-success" role="alert">
      {{ mensagem }}
    </div>
    {% elif info == "erro" %}
    <div class="alert alert-danger" role="alert">
      {{ mensagem }}
    </div>
    {% endif %}
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Gerenciar Talhoes:</h4>
    <div class="card-text">

    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Talhao</th>
          <th scope="col">Produto</th>
          <th scope="col">Tipo</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
        {% for t in talhoes %}
        <tr>
          <td>{{ t }}</td>
          <td>{{ t.produto }}</td>
          <td>{% if t.tipo == "1" %}Agricultura {% elif t.tipo == "2" %}Pecuaria {% else %}Agropecuaria {% endif %}</td>
          <td><a class="btn btn-primary" href="{% url 'edit_talhao' fazenda.id t.id %}"><i class="fa fa-gear"></i></a></td>
          <td><a class="btn btn-danger" href="{% url 'apaga_talhao' fazenda.id t.id %}"><i class="fa fa-remove"></i></a></td>
        </tr>
        {% endfor %}
      </thead>
    </table>
  </div>
  {% endblock %}
