{% extends "sinteagros/base.html" %}

{% block content %}

<script>

  //Change Notes / Alterar notas
function set_notes(element){
  var note = element.val();
  var dados = {
    'note': note,
    'date': $("#date").val()
  }
  if(element.attr("id") != null){
    dados.id = element.attr("id");
  }
  $.ajax({
    url: "ajax/set_note/",
    dataType: 'json',
    data: dados,
    method: 'post',
  }).fail(function(jq,txt,erro){
    alert("Ocorreu um erro, por favor tente novamente.");
  }).done(function(data){
    if(data.response){
      return true;
    } else{
      return false;
    }
  });
};


  $(document).ready(function() {


    // ##### NOTEPAD ####

    // Create Notepad / Cria agenda
    $("#note-date").append(moment().format('LL'));
    $("#date").val(moment().format("YYYY-MM-DD"));

    //js Calendario
    moment().locale('pt-br');

// Create Calendar / Cria Calendario
$('#calendar').fullCalendar({
      header: {
        left: 'prev,next',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listMonth'
      },
      locale: "pt-br",
      editable: true,
      selectable: true,
      select: function(start,end){
        var inicio = moment(start);
        $("#note-date").empty().append(inicio.format('LL'));
        $("#date").val(inicio.format("YYYY-MM-DD"));
        $.ajax({
          url: 'ajax/get_notes/',
          dataType: 'json',
          data: {
            'date': $("#date").val()
          }
        }).done(function(data){

        }).fail(function(q,txt,err){
          alert("Ocorreu um erro, por favor tente novamente.");
        });
      }
    });

});
</script>


<div class="row">
  <div class="col-md-6">
    <div id="calendar">

    </div>
  </div>
  <div class="col-md-6">
    <div id="note">
      <form action="#" method="post" id="form-note" name="form-note">
        {% csrf_token %}
        <h4 class="top-note">Anotações</h4>
        <h5 id="note-date"></h5>
        <ul class="list">
          <li>
            <textarea name="note" rows="11" cols="45" class="input-note" maxlength="250"></textarea>
          </li>
          <li><div class="btn-group d-flex justify-content-center" role="group">
            <button class="btn btn-note" type="button" name="button"><i class="fa fa-save"></i> Salvar</button>
            <button class="btn btn-note" type="button" name="button"><i class="fa fa-trash-o"></i> Excluir</button>
          </div></li>
        </ul>
        <input type="hidden" name="date" id="date" value="">
      </form>
    </div>
  </div>

</div>

{% endblock content %}
