<script>
    $("#id_cpf").mask('000.000.000-00',{reverse: true});
    
    $("#save_modal").off("click");
    $("#save_modal").on("click",function(){
        if($("#id_cpf").val().length != 14){
            set_message("Favor cadastrar corretamente o CPF","alert-danger");
            $("#cpf").css("background","red");
            return false;
        } else{
            $("#cpf").css("background","white");
        }
        $.ajax({
            url: $("#form-worker").attr("action"),
            method: "post",
            data: $("#form-worker").serialize()
        }).done(function(data){
            set_message(data.message,data.type);
            close_modal();
            if($("#nobody_worker")){
                $("#nobody_worker").remove();
            } 
            if ($("#body_worker").find("#"+ $("#id_cpf").val()).length > 0){
                $("#"+ $("#id_cpf").val()).empty().append("<th>" + $("#id_nome").val() + "</th><th>" + $("#id_sobrenome").val() + "</th><th>" + $("#id_contratacao").val() + "</th><th>" + $("#id_cargo").val() +
                                    "</th><th>" + "</th><th><div class='alert-success'>Ativo</div></th><th>" + moment().format() + "</th>");
            } else{
                $("#body_worker").append("<tr id='"+ $("#id_cpf").val() +"'><th>" + $("#id_nome").val() + "</th><th>" + $("#id_sobrenome").val() + "</th><th>" + $("#id_contratacao").val() + "</th><th>" + $("#id_cargo").val() +
                                    "</th><th>" + "</th><th><div class='alert-success'>Ativo</div></th><th>" + moment().format() + "</th>");
            }
        })
    })
</script>
<form action="{% url 'worker_sign' %}" method="post" class="form-group" id="form-worker">
  {% csrf_token %}
  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}
  {% for field in form.visible_fields %}
  <div class="form-group">
      {{field.label_tag}}
      {{ field }}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
  </div>
  {% endfor %}
</form>