body {
  background-color: #f5f5f5;
}

#calendar {
  min-width: 80%;
  margin: 20px;
  padding: 10px;
  -webkit-box-shadow: 15px 6px 34px -17px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 15px 6px 34px -17px rgba(0, 0, 0, 0.67);
  box-shadow: 15px 6px 34px -17px rgba(0, 0, 0, 0.67);
  background: #ffff;
}

#note {
  position: relative;
  background: #F5F5AF;
  width: 90%;
  height: 93%;
  margin: 20px;
  -webkit-box-shadow: 15px 6px 34px -17px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 15px 6px 34px -17px rgba(0, 0, 0, 0.67);
  box-shadow: 15px 6px 34px -17px rgba(0, 0, 0, 0.67);
}

.top-note {
  background-color: #633617;
  font-size: 42px;
  color: #fff;
  letter-spacing: -2px;
  text-align: center;
  padding: 5px;
}

#note-date {
  padding-left: 20px;
}

.list {
  position: relative;
  color: #CAB468;
  font-size: 22px;
  padding: 0 !important;
  width: 100%;
  font-family: courier, monospace;
  border: 1px solid #dedede;
}

.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 2px;
  height: auto;
  padding: 2px;
  text-transform: capitalize;
}

.list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.input-note {
  background: #F5F5AF;
  border: none;
  padding-right: 1px;
}

.input-note[type="text"] {
  -webkit-appearance: none;
  /* Remove estilo padrão do Chrome */
  -moz-appearance: none;
  /* Remove estilo padrão do FireFox */
  appearance: none;
  width: 83%;
}

.input-note:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.list li a {
  display: none;
  width: 3%;
  padding-left: 3px;
}

.icon-note {
  color: #633617;
}
