<script>
$(document).ready(function(){

  $("#form-extrato").submit(function(e){
    e.preventDefault();
    $.ajax({
      url: {% url 'lancamento' %},
      data: $("#form-extrato").val(),
      dataType: 'json',
      method: 'POST',
    }).done(function(data){
      set_message(data.message,data.type);
      console.log(data);
      $("#dialog").dialog("close");
    }).fail(function(jqXHR,text,error){
      console.log("fail " + text + ": " + error);
    })
  });

  $("#valor").mask("#.##0,00",{reverse: true});

  $(".cancel_dialog").click(function(){
    $("#dialog").dialog("close");
  });
})
</script>
<form action="{% url 'lancamento' %}" method="post" id="form-extrato">
  {% csrf_token %}
  {{form.id}}
  {{form.operacao}}
  <div class="form-row">
    <div class="col-sm-6">
      <label for="date">Data:</label> {{form.date}}
    </div>
    <div class="col-sm-6">
      <label for="history">Histórico:</label> {{form.history}}
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-6">
      <label for="valor">Valor:</label> {{form.valor}}
    </div>
    <div class="col-sm-6">
      <label for="obs">Observação do usuário:</label> {{form.obs}}
    </div>
  </div>
  </div>
</form>
