<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>cadfazenda</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <form>
        <div class="form-row">
            <div class="col"><label for="nome">Nome da fazenda</label><input class="form-control" type="text" name="nome" required="" placeholder="Digite o nome da fazenda"></div>
        </div>
        <div class="form-row">
            <div class="col-lg-6"><label for="estado">Estado</label><select class="form-control" name="estado" required=""><optgroup label="This is a group"></optgroup></select></div>
            <div class="col"><label for="cidade">Cidade</label><select class="form-control" name="cidade" disabled="" required=""><optgroup label="Selecione a cidade abaixo"></optgroup></select></div>
        </div>
        <div class="form-row">
            <div class="col offset-lg-5"><button class="btn btn-primary btn-lg" type="button">Cadastrar</button></div>
        </div>
    </form>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>