{% block extra %}
<script>

function get_extrato(){
  $.ajax({
    url: {% url 'extrato' %},
    dataType: 'json',
    data: {
      'conta': $("#conta").val(),
      'mes': $("#meses li:active").html()
    }
  }).done(function(data){
    console.log(data);
    if(data.extratos.length == 0){
      $("#extrato-info").empty().append('Você ainda não possui nenhum registro cadastrado. Clique <a href="#">aqui</a> para iniciar');
    }
  });
}

function get_accounts(){
  $("#conta").empty().append("<option value='#'>Selecione Abaixo</option>");
  $.ajax({
    url: {% url 'contas' %},
    dataType: 'json',
    data:{
        'banco': $("#banco").val()
    },
  }).done(function(data){
    var contas = data.contas;
    for(var i = 0; i <= contas.length - 1;i++){
      $("#conta").append("<option value='" + contas[i].id + "'> " + contas[i].agencia + "/" + contas[i].conta + "</option>");
    }
  });
}

$(document).ready(function(){
  $(".ex-tab a").click(function(e){
    e.preventDefault();
    $(this).tab("show");
});

    $("#banco").change(function(){
      if($(this).val() != "000"){
        get_accounts();
      }
    });

    $("#conta").change(function(){
      if($(this).val() != "000"){
        get_extrato();
      }
    });
});
</script>
<div id="extrato">
  <div role="textbox" class="text-center">
    <p class="h3">Extrato de Conta Bancária</p>
  </div>
  <div class="row">
    <div class="col-md-2" role="button">
      <div class="dropdown">
        <button class="btn dropdown-toggle btn-secondary" type="button" id="btn-add-extrato" data-toggle="dropdown">
          Opções
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="">
          <a href="#" class="dropdown-item"><i class="fa fa-plus"></i> Adicionar Operação manualmente</a>
          <a href="#" class="dropdown-item"><i class="fas fa-search-plus"></i> Adicionar Operação via planilha</a>
        </ul>
      </div>
    </div>
    <div class="col-md-5">
      <label for="banco">Banco:</label>  <select class="extrato-select" name="banco" id="banco">
        <option value="000">Selecione abaixo</option>
        {% if info is not None %}
        {% for id,b in info.Bank.items %}
          <option value="{{id}}">{{b}}</option>
        {% endfor %}
        {% else %}
        <option value="000">Cadastre uma conta primeiro</option>
        {% endif %}
      </select>
    </div>
    <div class="col-md-5">
      <label for="conta">Agencia/Conta: </label><select class="extrato-select" name="conta" id="conta">
        <option value="000">Selecione o Banco</option>
      </select>
    </div>
  </div>
  <ul class="nav nav-tabs" id="meses">
    {% for i,m in month.items %}
    {% if i == now %}
    <li class="nav-item ex-tab"><a href="#" class="nav-link active">{{m}}</a></li>
    {% else %}
    <li class="nav-item ex-tab"><a href="#" class="nav-link">{{m}}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Operação</th>
        <th scope="col">Dia</th>
        <th scope="col">Histórico</th>
        <th scope="col">Observação</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody id="extrato-content">
    </tbody>
  </table>
  {% if info.Bank.items is None %}
  <div id="extrato-info">Você ainda não possui uma conta cadastrada. Clique <a href="#" class="new_account">aqui</a> para iniciar</div>
  {% else %}
  <div id="extrato-info"></div>
  {% endif %}

</div>

{% endblock %}
