<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>cadtalhao</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <form>
        <div class="form-group">
            <div class="form-row">
                <div class="col"></div>
            </div>
            <div class="form-row">
                <div class="col"><label>Nome do talhao</label><input class="form-control" type="text" name="nome" required="" placeholder="Digite o nome do talhao"></div>
                <div class="col"><label>Tamanho</label><input class="form-control" type="number" name="tamanho" placeholder="Digite o tamanho do talhao (opcional)"></div>
                <div class="col offset-lg-0"><label>Tipo de manejo</label><select class="form-control" name="tipo"><option value="1" selected="">Agricultura</option><option value="2">Pecuaria</option><option value="3">Integrado (Agricultura e Pecuaria)</option></select></div>
            </div>
            <div class="form-row"></div>
            <div class="form-row">
                <div class="col-lg-7 offset-lg-5"><button class="btn btn-primary" type="button">Cadastrar Talhao</button></div>
            </div>
        </div>
    </form>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>